.project-main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-container {
    display: flex;
    margin: 10px;
    gap: 5px;
    height: auto;
    flex-direction: column;
}

.first-row {
    display: flex;
    gap: 10px;
}

.header-container .first-row button {
    margin: 0;
    top: 10px;
    width: 50px;
    height: 40px;
    left: 10px;
    font-size: 1.2rem;
    padding: 0 0 3px 0;
}

.header-container .first-row input {
    margin: 0;
}

.second-row {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
    gap: 14px 30px;
    flex-wrap: wrap;
}

.filter-container {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.filter-button {
    margin: 0;
    padding: 10px 14px 10px 14px;
    font-size: 0.8rem;
    border-radius: 20px;
    text-wrap: nowrap;
    background-color: var(--gray2);
    color: var(--gray6);
}

.filter-button:hover {
    transform: translateY(-1px);
}

.filter-button.blue.selected, .filter-button.blue:hover {
    background-color: var(--blue1);
    color: var(--blue5);
}

.filter-button.yellow.selected, .filter-button.yellow:hover {
    background-color: var(--yellow2);
    color: var(--yellow7);
}

.filter-button.green.selected, .filter-button.green:hover {
    background-color: var(--green2);
    color: var(--green6);
}

.filter-button.gray.selected, .filter-button.gray:hover {
    background-color: var(--gray3);
    color: var(--gray7);
}

.filter-button.orange.selected, .filter-button.orange:hover {
    background-color: var(--o2);
    color: var(--o6);
}

.filter-button.red.selected, .filter-button.red:hover {
    background-color: var(--red1);
    color: var(--red7);
}

/* List */

.tasks-list {
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin: 0 0 80px 0;
}

.task-card {
    background-color: var(--card);
    border-radius: var(--radius);
    border: 1px solid var(--bg3);
    transition: all 0.2s;
    margin: 5px;
    min-width: 300px;
    width: auto;
    cursor: pointer;
}

.task-card:hover {
    transform: translateY(-1px);
}

.task-card .task-header {
    display: grid;
    grid-template-columns: 1fr auto;
}

.task-card p {
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-card .title-p {
    padding: 0;
    margin: 12px 10px 5px 12px;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: var(--font-body);
    color: var(--text);
    text-wrap: nowrap;
}

.task-card .description-p {
    padding: 0;
    margin: 12px 10px 15px 12px;
    font-size: 0.8rem;
    font-family: var(--font-body);
    color: var(--text2);
    overflow-wrap: break-word;
    height: 32px;
}

.task-card .priority-p {
    padding: 0;
    margin: 12px 10px 15px 12px;
    font-size: 0.76rem;
    font-weight: 600;
    font-family: var(--font-body);
    color: var(--text2);
}

.task-card .status-span {
    padding: 5px 12px;
    margin: 7px 7px 7px 0;
    font-size: 0.76rem;
    font-weight: 600;
    border-radius: 16px;
}

/* blue */
.task-card.blue {
    border-bottom: 6px solid var(--blue4);
}

.task-card.blue .priority-p {
    color: var(--blue5)
}

.task-card.blue:hover {
    box-shadow: 0px 6px 10px 2px var(--blue1);
}

.task-card .status-span.blue {
    background-color: var(--blue1);
    color: var(--blue5);
}

/* yellow */

.task-card.yellow {
    border-bottom: 6px solid var(--yellow5);
}

.task-card.yellow .priority-p {
    color: var(--yellow5)
}

.task-card.yellow:hover {
    box-shadow: 0px 6px 10px 2px var(--yellow2);
}

.task-card .status-span.yellow {
    background-color: var(--yellow2);
    color: var(--yellow6);
}

/* gray */

.task-card.gray {
    border-bottom: 6px solid var(--gray5);
}

.task-card.gray .priority-p {
    color: var(--gray5)
}

.task-card.gray:hover {
    box-shadow: 0px 6px 10px 2px var(--gray2);
}

/* orange */

.task-card.orange {
    border-bottom: 6px solid var(--o4);
}

.task-card.orange .priority-p {
    color: var(--o4)
}

.task-card.orange:hover {
    box-shadow: 0px 6px 10px 2px var(--o2);
}

/* red */

.task-card.red {
    border-bottom: 6px solid var(--red5);
}

.task-card.red .priority-p {
    color: var(--red5)
}

.task-card.red:hover {
    box-shadow: 0px 6px 10px 2px var(--red1);
}

/* green */

.task-card .status-span.green {
    background-color: var(--green2);
    color: var(--green6);
}

/* Modal */

.create-card {
    min-width: 520px;
}

.modal-overlay .section-p {
    color: var(--text2);
    font-family: var(--font-body);
    font-size: 1rem;
    margin: 15px 10px 15px 5px;
    padding: 0;
    font-weight: 600;
    text-align: start;
}

.modal-overlay .submit-button {
    margin: 20px 0 0 0;
}